[submodule "transformer-tensorflow"]
	path = transformer-tensorflow
	url = git@github.com:Tina-Gh/transformer-tensorflow.git
[submodule "tensor2tensor"]
	path = tensor2tensor
	url = https://github.com/Tina-Gh/tensor2tensor.git
[submodule "annotated-transformer"]
	path = annotated-transformer
	url = https://github.com/Tina-Gh/annotated-transformer.git
[submodule "SebastianRaschaBook/LLMs-from-scratch"]
	path = SebastianRaschaBook/LLMs-from-scratch
	url = git@github.com:Tina-Gh/LLMs-from-scratch.git
[submodule "JayAlammarBook/Hands-On-Large-Language-Models"]
	path = JayAlammarBook/Hands-On-Large-Language-Models
	url = git@github.com:Tina-Gh/Hands-On-Large-Language-Models.git
[submodule "nn-zero-to-hero"]
	path = nn-zero-to-hero
	url = git@github.com:Tina-Gh/nn-zero-to-hero.git
