[submodule "Hands-On-Large-Language-Models"]
	path = Hands-On-Large-Language-Models
	url = git@github.com:Tina-Gh/Hands-On-Large-Language-Models.git
[submodule "transformer-tensorflow"]
	path = transformer-tensorflow
	url = git@github.com:Tina-Gh/transformer-tensorflow.git
[submodule "tensor2tensor"]
	path = tensor2tensor
	url = https://github.com/Tina-Gh/tensor2tensor.git
